.pageNumber.selectedPage {
    font-weight: bold;
    cursor: pointer;
    border-color: black; 
}
.paginator {
    grid-area: p;
    margin: 10px;
    display:flex;
    justify-content: center;
}
.pageNumber {
    display: inline-block;
    padding: 5px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: white;
    border: none;
}
.pageNumber:hover {
    background-color: #525252;
}
.pageNumber:active {
    background-color: #525252;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.buttons {
    display: inline-block;
    padding: 5px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: white;
    border: none;
}
.buttons:hover {
    background-color: #525252;
}
.buttons:active {
    background-color: #525252;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}