.selected {
    color: gold;
    -webkit-text-stroke-width: thin;
};
.details {
    display: flex; 
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.login, .followers{
    padding: 5px;
    color: #525252;
    -webkit-text-stroke-width: thin;
}   