.selected {
    color: gold;
    -webkit-text-stroke-width: thin;
};
.details {
    > .login, .followers{
        padding: 5px;
        color: #525252;
        -webkit-text-stroke-width: thin;
    }     
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
   