.dialogs {
    display: grid;
    grid-template-columns: 2fr 7fr;
    > .dialogsItems {
        padding: 20px;
        -webkit-text-stroke-width: thin;
        
    }
    > .messages {
        padding: 20px;
    }
}

